{% extends "layout.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static "todo/index.css" %}">{% endblock css %}
{% block titile %}Create Todos{% endblock titile %}

{% block content %}

    <main class="container">
        <div id="newtask">
            <form method="POST" action="{% url "delete" todo.id %}">
                {{form.as_p}}
                {% csrf_token %}
                <button>Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
