* {
  padding: 0;
  margin: 0;
}

body {
  width: 140vw;
  min-height: 140vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#f00000, #dc281e);
  font-family: sans-serif;
}
